# TeX/LaTeX intermediates #
###########################
*.*~
*.4ct
*.4tc
*.aux
*.auto
*.bbl
*.bcf
*blx.bib
*.blg
*.dvi
*.glo
*.idv
*.idx
*.ilg
*.ind
*.lg
*.lof
*.log
*.lol
*.lot
*.pdx
*.pnd
*.out
*.tdo
*.tcp
*.tmp
*.toc
*.tps
*.run.xml
*.xmpi
*.xref
*.fls
*.fdb_latexmk
*.synctex.gz

# Other files and directories #
###########################
.DS_Store
.latex.json
.idea
*.iml
*.texlipse